<table>
 </tbody>

 <tr>
  <%= image_tag @item.get_image(200,200) %>
  <td><%= link_to @item.name, admin_item_path(@item.id) %></td>

  <td><%= @item.introduction %></td>
  
  <td><%= @item.with_tax_price %> (税込)</td>
 </tr>

 </tbody>
</table>

<td><%= link_to "Edit", edit_admin_item_path(@item.id) %></td>

