<%= form_with model: Destination.new, method: :post do |f| %>

 <p>郵便番号</p>
 <%= f.text_field :postal_code %>

 <p>住所</p>
 <%= f.text_field :address %>

 <P>宛名</p>
 <%= f.text_field :name %>

 <%= f.submit '新規登録' %>

 <% end %>
<table>
 <tbody>
 <tr>
  <td>郵便番号</td>
  <td>住所</td>
  <td>宛名</td>
 </tr>
 </tbody>
</table>



<table>
 <tbody>
<% @destinations.each do |destination| %>
<tr>
 <td><%= destination.postal_code %></td>
 <td><%= destination.address %></td>
 <td><%= destination.name %></td>

 <td><%= link_to "Edit",  edit_destination_path(destination.id) %></td>
 <td><%= link_to "Destroy", destination_path(destination.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
</tr>
<% end %>
 </tbody>
</table>