<table>
 </tbody>

 <tr>
  <td><%= link_to @item.name, items_path(@item.id) %></td>

  <td><%= @item.introduction %></td>

  <td><%= @item.price %></td>
 </tr>
 
 <p>数量を選択してください</p>
 <p><%= f.select :amount, *[1..99] %></p>

<p><%= link_to "カートに入れる",  cart_items_path(@item.id) %></p>

 </tbody>
</table>